StandardLibraryDLL/StandardLibraryDLL/x64/
StandardLibraryDLL/x64/
StandardLibraryDLL/.vs/
VirtualMachine/.vs/
VirtualMachine/build/
VirtualMachine/StandardLibraryDLL.dll
Cygni/.vs/
Cygni/build/
Cygni/.vscode/
Cygni/sample_code/
compiler/build/